.slidal {
    width: 100%;
}

.slidal>h1 {
    margin: 0;
    text-align: center;
}

.slidal>.slider>div {
    align-items: center;
    display: flex;
    /* You can change this value*/
    height: 150px;
    flex-direction: row;
    overflow: hidden;
}

.slidal>.arrows {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.slidal>.arrows>.arrow {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

/* Celphone */
@media only screen and (max-width: 768px) {
    .slidal>.arrows>.arrow {
        flex-basis: 40%;
        height: 30px;
        width: 30px;
    }
}

/* Tablet */
@media only screen and (max-width: 435px) {
    .slidal>.arrows>.arrow {
        flex-basis: 100%;
    }
}

/* Transition */
/* Right to Left */
.slide--transition--left-enter {
    transform: translateX(100vw);
}

.slide--transition--left-enter.slide--transition--left-enter-active {
    transform: translateX(0vw);
    transition: transform 500ms ease-in-out;
}

.slide--transition--left-exit {
    transform: translateX(100vw);
}

.slide--transition--left-exit.slide--transition--left-exit-active {
    transform: translateX(-100vw);
    transition: transform 500ms ease-in-out;
}

/* Left to Right */
.slide--transition--right-enter {
    transform: translateX(-100vw);
}

.slide--transition--right-enter.slide--transition--right-enter-active {
    transform: translateX(0vw);
    transition: transform 500ms ease-in-out;
}

.slide--transition--right-exit {
    transform: translateX(0vw);
}

.slide--transition--right-exit.slide--transition--right-exit-active {
    transform: translateX(100vw);
    transition: transform 500ms ease-in-out;
}

/* MODAL */
.slidal--modal {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999;
}

.slidal--modal>.content {
    background: white;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 40px 5% 2.5% 5%;
    position: relative;
    margin: 10vh 4%;
}

.slidal--modal>.content>.close--button {
    cursor: pointer;
    height: 2%;
    left: 10px;
    position: absolute;
    top: 10px;
}

.slidal--modal>.content>.slidal--card {
    flex-basis: 25%;
}

/* Celphone */
@media only screen and (max-width: 768px) {
    .slidal--modal>.content>.slidal--card {
        flex-basis: 40%;
    }
}

/* Tablet */
@media only screen and (max-width: 435px) {
    .slidal--modal>.content>.slidal--card {
        flex-basis: 100%;
    }
}

/* CARD */
.slidal--card {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 10px;
}

.slidal--card>img,
.slidal--card>svg {
    max-width: 50px;
}

/* BUTTON */
.slidal--button {
    background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.slidal--button:hover {
    background-color: #555555;
    color: white;
}
